In [2]:
import pandas as pd

In [28]:
data = pd.read_table('input_1.txt', header=None, names=['calibration'])
data.head()

                    calibration
0                   29lzrxseven
1            9nnqljsixkzphvtmtr
2       five73kskpfgbkcltwoccvf
3                        fiveq7
4  npfdbnjlthree6cmdbsrsqc9five

In [6]:
def clean_data(calibration_input):
    clean_input = []

    lt = 0
    rt = len(calibration_input)-1

    while lt < rt and not calibration_input[lt].isnumeric():
        lt+=1
    while lt < rt and not calibration_input[rt].isnumeric():
        rt-=1

    return int(calibration_input[lt] + calibration_input[rt])

In [11]:
data['clean_calibration'] = data.calibration.apply(clean_data)
data.head()

                    calibration  clean_calibration
0                   29lzrxseven                 29
1            9nnqljsixkzphvtmtr                 99
2       five73kskpfgbkcltwoccvf                 73
3                        fiveq7                 77
4  npfdbnjlthree6cmdbsrsqc9five                 69

In [13]:
data.clean_calibration.sum()

55834

## Part 2